# Ignore irrelevant invisibles:
.DS_Store

# Ignore these directories:
.ipynb_checkpoints/
1-data/
2-analysis/
3-literature/
collab_folders/

# Ignore temporary files:
*.tmp

# Exclude these files from being ignored:
!*.sh
!*/README.md
