# Ignore irrelevant invisibles:
.DS_Store

# Ignore these directories:
.ipynb_checkpoints/
reporting/

# Ignore this file:
analysis/figures_coverage_thresholds/manuscript_figures.ipynb

# Ignore temporary files:
*.tmp

# Exclude these files from being ignored:
!1-data/*/*.sh
!1-data/README.md
!2-analysis/README.md
!2-analysis/barcode_performance_test/hrp2.py
!2-analysis/jupyter_notebooks/*
!2-analysis/*/*.sh
!3-literature/README.md

