# Ignore irrelevant invisibles:
.DS_Store

# Ignore these directories:
.ipynb_checkpoints/
1-data/
2-analysis/
3-literature/
collab_folders/

# Ignore temporary files:
*.tmp

# Exclude these files from being ignored:
!1-data/*/*.sh
!1-data/README.md
!2-analysis/README.md
!2-analysis/barcode_performance_test/hrp2.py
!2-analysis/jupyter_notebooks/*
!2-analysis/*/*.sh
!3-literature/README.md

